<div class="bg-white p-4 rounded shadow-lg mt-12 min-w-[500px] flex gap-2">
  <div
    class="outline-slate-500 border items-center px-1 border-gray-300 flex gap-2 w-full rounded-md"
  >
    @for (item of labels; track $index) {
    <div
      class="flex gap-2 items-center px-2 bg-slate-300 rounded text-slate-100 py-1 h-fit"
    >
      {{ item.text }}
      <button (click)="remove(item.id)"><p class="rotate-45">+</p></button>
    </div>
    }
    <input
      [(ngModel)]="labelString"
      type="text"
      id="last_name"
      class="px-2.5 py-2 bg-gray-50 text-gray-900 text-sm rounded-lg outline-none block w-full"
      placeholder="Label"
      required
    />
  </div>
  <button
    (click)="add()"
    pButton
    pRipple
    class="px-3 py-2 border flex gap-2 items-center border-slate-300 hover:bg-blue-500 hover:text-white group"
  >
    <p>+</p>
  </button>
</div>
