<div
  class="bg-white flex flex-col gap-3 p-4 rounded shadow-lg mt-12 min-w-[500px]"
>
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-xl font-bold">Responses</h2>
    </div>
    <div class="flex flex-col items-end">
      <a class="flex gap-2 items-center hover:underline" [routerLink]="['']"
        ><p>Edit form</p>
        <svg
          class="h-6 w-6 p-0.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M7 17L17 7M17 7H8M17 7V16"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g></svg
      ></a>

      <!--  -->
      <a
        class="flex gap-2 items-center hover:underline"
        [routerLink]="['/view']"
        ><p>view Form</p>
        <svg
          class="h-6 w-6 p-0.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M7 17L17 7M17 7H8M17 7V16"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g></svg
      ></a>
    </div>
  </div>

  <hr />

  <!--  -->
  <!--  -->
  <!--  -->
</div>
