@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem;

  min-height: 100vh;
  width: 100%;

  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.cdk-drag-preview {
  background: #fff;
  scale: 1.2 !important;
}

.cdk-drag-preview {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px !important;
}
